html{
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*,*::before, *::after{
box-sizing: inherit;
	}


body{
	margin: 0;
}

a{
	text-decoration: none;
}

a:link{
	color:#fff;
}

a:visited{
	color: #fff;
}

li:hover{
	background-color: #e4c22a;
	color: #000;
}

wrapper{
	width: 100%;
}




/*Header styling*/

header{
	background-image: url("../images/medallion.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6em;
	color: #fff;
	background-color: #e7001d;
	padding: 1em;

}

header h1, header h3{
	text-align: center;
}

header h1{
	font-size: 3rem;
	margin: 0;
		text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

header h3{
	font-size: .8rem;
	margin: 0;
		text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

/*Navbar*/

ul{
list-style-type: none;
padding: 0;
color: #fff;
margin: 0;
}

nav li{
	background-color: #000;
	display: inline;
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding: .5em;
}


/*Hero Graphic Banner*/

.hero{
	position: relative;
	box-sizing: border-box;
	clear: left;
	width: 100%;
}

.hero img{
	width: 100%;
	display: block;
}

.hero h1{
	position: absolute;
	bottom: .3em;
	width: 100%;
	color: #fff;
	text-align: center;
	font-style: italic;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}


/*Intro*/

.intro{
	padding: .5em;
}


/*Dragon*/

.div-dragon{
	background-color: #e4c22a;
		text-align: center;
		width: 100%;
		postion: relative;
		overflow: hidden;
}

.div-dragon img{
	width: 40%;
	float: left;
	margin-left: 6.5%;

}

.div-dragon p{
	font-style: italic;
	clear: left;
}



/*Goat*/

.div-goat{
	background-color: #000;
		text-align: center;
		width: 100%;
		postion: relative;
		overflow: hidden;
		color: #fff;
}

.div-goat img{
	width: 40%;
	float: left;
	margin-left: 6.5%;

}

.div-goat p{
	font-style: italic;
	clear: left;
}


/*Rooster*/

.div-rooster{
	background-color: #e7001d;
		text-align: center;
		width: 100%;
		postion: relative;
		overflow: hidden;
		color: #fff;
}

.div-rooster img{
	width: 40%;
	float: left;
	margin-left: 6.6%;

}

.div-rooster p{
	font-style: italic;
	clear: left;
}

/*Ox*/

.div-ox{
	background-color: #e4c22a;
		text-align: center;
		width: 100%;
		postion: relative;
		overflow: hidden;
		color: #000;
}

.div-ox img{
	width: 40%;
	float: left;
	margin-left: 6.5%;

}

.div-ox p{
	font-style: italic;
	clear: left;
}


/*Footer*/

footer{
background-color: #000;
color: #fff;
margin: 0;
text-align: center;
padding: .5m;
overflow: hidden;
}
